.search {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: 1fr 132px;
}

.search__wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 52px;
}

.search__input {
  border: 2px solid var(--border);
  border-radius: 8px;
  background-color: var(--white);
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  padding: 0 20px 0 56px;
  color: var(--black);
  transition: border ease-in 0.3s;
}

.search__input:hover,
.search__input:focus-visible {
  border-color: var(--brown);
}

.search__input:focus-visible {
  outline: 0;
}

.search__input[disabled] {
  background-color: var(--secondary);
}

.search__input[disabled]:hover {
  border-color: var(--border);
}

.search__icon {
  pointer-events: none;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--green);
  border-radius: 12px;
  padding: 0;
  width: 100%;
  height: 52px;
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
  transition: opacity ease-in 0.3s;
}

.search__btn:hover {
  opacity: 0.9;
}

.search__btn[disabled] {
  cursor: default;
  filter: brightness(0.9);
  opacity: 1;
}

.search__info {
  display: none;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.search__info--result {
  display: flex;
  color: var(--black);
}

.search__info--error {
  display: flex;
  color: var(--red);
}

@media screen and (max-width: 599px) {
  .search {
    grid-template-columns: 1fr;
  }
}
