.main-page {
  margin-bottom: 50px;
}

.main-page__wrap {
  display: grid;
  grid-template-columns: calc(1390 / 1726 * 100%) 1fr;
  gap: 0 24px;
}

.main-page__inner,
.main-page__search {
  margin: 0 auto;
  grid-column: span 2;
}

.main-page__inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}

.main-page__title {
  font-family: 'Playfair Display', serif;
  color: var(--title);
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.main-page__text {
  max-width: 680px;
  text-align: center;
  color: var(--text);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.main-page__search {
  margin-bottom: 70px;
  width: 100%;
  max-width: 780px;
}
