.main-page {
  margin-bottom: 50px;
}

.main-page__wrap {
  display: grid;
  grid-template-columns: 80% 1fr;
  gap: 0 24px;
}

.main-page__inner,
.main-page__search {
  margin: 0 auto;
  grid-column: span 2;
}

.main-page__inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.main-page__title {
  font-family: 'Playfair Display', serif;
  color: var(--title);
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.main-page__text {
  max-width: 680px;
  color: var(--text);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.main-page__search {
  margin-bottom: 70px;
  width: 100%;
  max-width: 780px;
}

.main-page__anchor-link {
  position: sticky;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  transform: translateY(80vh);
  margin-right: 10px;
  justify-self: right;
  color: var(--white);
  background-color: var(--green);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 1;
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

.main-page__anchor-link:hover {
  opacity: 1;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .main-page__wrap {
    grid-template-columns: 75% 1fr;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1199px) {
  .main-page__wrap {
    grid-template-columns: 70% 1fr;
  }
}

@media screen and (max-width: 1023px) {
  .main-page__wrap {
    grid-template-columns: 1fr;
  }

  .main-page__inner,
  .main-page__search {
    grid-column: span 1;
  }

  .main-page__anchor-link {
    display: flex;
  }
}

@media screen and (max-width: 599px) {
  .main-page__title {
    font-size: 35px;
  }

  .main-page__text {
    font-size: 16px;
  }
}
