.card-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 20px;
  align-content: start;
}

.card-list--favorite {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card-list__item {
  /* width: 100%; */
}
