.footer {
  border-top: 2px solid var(--border);
  padding: 30px 0 36px;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  color: var(--text);
  margin: 0;
}

.footer__link {
  color: var(--green);
  transition: opacity ease-in 0.3s;
}

.footer__link:hover {
  opacity: 0.8;
}
