.card {
  position: relative;

  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 1px 8px var(--shadow);
  transition: transform ease-in 0.3s;

  /* width: 100%; */
  /* display: flex; */
}

.card--favorite {
  box-shadow: none;
  border-radius: 0;

  background-color: aqua;

  border-bottom: 2px solid var(--border);
  padding-bottom: 10px;

  /* width: 100%; */
  /* display: flex; */
  /* margin-bottom: 10px; */
}

.card:hover {
  transform: scale(1.01);
}

.card__link {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__img {
  aspect-ratio: 0.66;
  border-radius: 12px 12px 0 0;
}

.card__wrap {
  display: flex;
  flex-direction: column;
  padding: 18px 18px 10px 15px;
  font-weight: 600;
}

.card__title,
.card__author {
  margin: 0;
}

.card__title {
  color: var(--title);
  font-size: 19px;
}

.card__author,
.card__year {
  color: var(--text);
}

.card__author {
  font-size: 16px;
}
.card__year {
  font-size: 14px;
}

.card__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: var(--favorite);
  opacity: 0.85;
  transition: filter ease-in 0.3s;
}

.card__btn:hover {
  filter: brightness(0.8);
}

.card__btn--favorite {
  opacity: 1;
}
.card__btn svg {
  width: 16px;
  height: 16px;
  color: var(--text);
}

.card__btn--favorite svg {
  fill: var(--red);
  color: var(--red);
}
